{% extends 'base.html' %}
{% load static %}
{% load orders_tags %}
{% load product_simple_tags %}


{% block title %}
    <title>Cute&Classy - Cart</title>
{% endblock %}

{% block navbar %}
    <div class="container-fluid">
{% endblock %}

{% block navbar_position %}
    <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light"
         id="navbar-vertical" style="width: calc(100% - 30px); z-index: 1;">
{% endblock %}



{% block content %}

    {% include 'shop/includes/page_header.html' with title='Shopping Cart' %}

    <!-- Cart Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                    {% get_cart_table_header as headers %}
                    <tr>
                        {% for header in headers %}
                            <th>{{ header }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody class="align-middle">
                    {% if products %}
                        {% for product in products %}
                            <tr id="{{ product.id }}">
                                {% get_product_images product.product_size_color.product.id 1 as image %}
                                <td class="align-middle">
                                    <p><img src={{ image.0.image.url }} alt="image" style="width: 70px;"></p>
                                </td>
                                <td class="align-middle">
                                    {{ product.product_size_color.product.name }}
                                    <input type="hidden" value="{{ product.product_size_color.id }}"
                                           id="product-id-{{ product.product_size_color.id }}">
                                </td>
                                <td class="align-middle">{{ product.product_size_color.size.name }}</td>
                                <td class="align-middle">{{ product.product_size_color.color.name }}</td>
                                <td class="align-middle">
                                    {{ product.product_size_color.product.price }}
                                    <input type="hidden" id="product-price-{{ product.product_size_color.id }}"
                                           value="{{ product.product_size_color.product.price }}">
                                </td>
                                <td class="align-middle">
                                    <div class="input-group quantity mx-auto" style="width: 100px;">
                                        <div class="input-group-btn">
                                            <button class="btn btn-sm btn-primary btn-minus minus"
                                                    onclick="updateProductCount(event)"
                                                    id="{{ product.product_size_color.id }}">
                                                <i class="fa fa-minus minus"
                                                   id="{{ product.product_size_color.id }}"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="form-control form-control-sm bg-secondary text-center"
                                               value="{{ product.quantity }}"
                                               id="product-count-{{ product.product_size_color.id }}"
                                               max="{{ product.product_size_color.count }}">
                                        <div class="input-group-btn">
                                            <button class="btn btn-sm btn-primary btn-plus plus"
                                                    onclick="updateProductCount(event)"
                                                    id="{{ product.product_size_color.id }}">
                                                <i class="fa fa-plus plus" id="{{ product.product_size_color.id }}"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle" id="product-total-{{ product.product_size_color.id }}">
                                    <input type="hidden" value="{{ product.sum }}"
                                           id="product-total-val-{{ product.product_size_color.id }}">
                                    {{ product.sum }}$
                                </td>
                                <td class="align-middle">
                                    <button class="btn btn-sm btn-primary remove"
                                            id="{{ product.id }}"
                                            onclick="removeProductFromCart(event)">
                                        <i class="fa fa-times remove" id="{{ product.id }}"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <h4 class="font-weight-semi-bold m-0">This cart is empty.</h4>
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <form class="mb-5" action="">
                    <div class="input-group">
                        <input type="text" class="form-control p-4" placeholder="Coupon Code">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Apply Coupon</button>
                        </div>
                    </div>
                </form>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium" id="total-amount"></h6>
                            <input type="hidden" id="total-amount-price">
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">{{ shipping_price }}$</h6>
                            <input type="hidden" value="{{ shipping_price }}" id="total-shipping-price">
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold" id="total-order-price"></h5>
                        </div>
                        <a class="btn btn-block btn-primary my-3 py-3" href="{% url 'orders:checkout' %}">Proceed To
                            Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->
{% endblock %}

{% block scripts %}
    <script src={% static "js/update_product_count.js" %}></script>
    <script src={% static "js/remove_product_from_cart.js" %}></script>
{% endblock %}