{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Cute&Classy - Order</title>
{% endblock %}

{% block navbar %}
    <div class="container-fluid">
{% endblock %}

{% block navbar_position %}
    <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light"
         id="navbar-vertical" style="width: calc(100% - 30px); z-index: 1;">
{% endblock %}


{% block content %}

    {% include 'shop/includes/page_header.html' with title='Checkout' %}

    <!-- Checkout Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
                    <form id="checkout-form" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            {% for f in form %}
                                <div class="col-md-6 p-2 form-group" style="font-size: 20px;">
                                    <label>{{ f.label }}</label>
                                    {{ f }}
                                </div>
                            {% endfor %}
                        </div>
                        {% include 'includes/errors.html' %}
                    </form>
                </div>
                {% include 'includes/messages.html' %}
            </div>
            {% if form %}
                <div class="col-lg-4">
                    <div class="card border-secondary mb-5">
                        <div class="card-header bg-secondary border-0">
                            <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                        </div>
                        <div class="card-body">
                            <h5 class="font-weight-medium mb-3">Products</h5>
                            <hr class="mt-0">
                            {% for product in products %}
                                <div class="d-flex justify-content-between product" style="font-size: 14px;">
                                    <p>{{ product.product_size_color.product.name|truncatechars:30 }}</p>
                                    <p style="color: black;"> {{ product.sum }}$</p>
                                    <input type="hidden" id="product-price-{{ product.id }}" value="{{ product.sum }}">
                                </div>
                            {% endfor %}
                            <hr class="mt-0">
                            <div class="d-flex justify-content-between mb-3 pt-1">
                                <h6 class="font-weight-medium">Subtotal</h6>
                                <h6 class="font-weight-medium" id="total-amount"></h6>
                                <input type="hidden" id="total-amount-price">
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-medium">Shipping</h6>
                                <h6 class="font-weight-medium">{{ shipping_price }}$</h6>
                                <input type="hidden" value="{{ shipping_price }}" id="total-shipping-price">
                            </div>
                        </div>
                        <div class="card-footer border-secondary bg-transparent">
                            <div class="d-flex justify-content-between mt-2">
                                <h5 class="font-weight-bold">Total</h5>
                                <h5 class="font-weight-bold" id="total-order-price"></h5>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3" onclick="submitForm()">
                        Place
                        Order
                    </button>
                </div>
                </div>
                </div>
            {% endif %}
    <!-- Checkout End -->
{% endblock %}

{% block scripts %}
    <script>
        function submitForm() {
            document.getElementById('checkout-form').submit();
        }
    </script>
    <script src={% static "js/checkout_subtotal.js" %}></script>
    <script src={% static "js/update_total.js" %}></script>
{% endblock %}