{% extends 'base.html' %}
{% load static %}
{% load product_simple_tags %}
{% load shop_simple_tags %}

{% load stars_filter %}

{% block title %}
    <title>Cute&Classy - Product Detail</title>
{% endblock %}


{% block navbar %}
    <div class="container-fluid">
{% endblock %}


{% block navbar_position %}
    <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light"
         id="navbar-vertical" style="width: calc(100% - 30px); z-index: 1;">
{% endblock %}

{% block content %}

    {% include 'shop/includes/page_header.html' with title='Shop Detail' %}


    <!-- Shop Detail Start -->
    <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 pb-5">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner border">
                        {% for image in product_images %}
                            <div class="{% if forloop.first %} carousel-item active{% else %}carousel-item{% endif %}">
                                <img class="w-100 h-100" src="{{ image.image.url }}" alt="image">
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                        <i class="fa fa-2x fa-angle-left text-dark"></i>
                    </a>
                    <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                        <i class="fa fa-2x fa-angle-right text-dark"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-7 pb-5">
                <h3 class="font-weight-semi-bold">{{ product.name }}</h3>
                <div class="d-flex mb-3">
                    <div class="text-primary mr-2">
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star-half-alt"></small>
                        <small class="far fa-star"></small>
                    </div>
                    <small class="pt-1">(50 Reviews)</small>
                </div>
                <h3 class="font-weight-semi-bold mb-4">${{ product.price }}</h3>
                <p class="mb-4">{{ product.short_description }}</p>
                <input type="hidden" value="{{ product.id }}" id="product">
                <div id="product-detail-sizes-colors">

                </div>
                <div class="d-flex align-items-center mb-4 pt-2">
                    <div class="input-group quantity mr-3" style="width: 130px;">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-minus">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control bg-secondary text-center" value="1" id="product-count">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-plus">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <button class="btn btn-primary px-3" onclick="addProductForm()" id="add-to-cart"><i
                            class="fa fa-shopping-cart mr-1"></i> Add To Cart
                    </button>
                </div>
                <div class="d-flex pt-2">
                    <p class="text-dark font-weight-medium mb-0 mr-2">Share on:</p>
                    <div class="d-inline-flex">
                        {% include 'shop/includes/networks.html' %}
                    </div>
                </div>
                <div class="d-flex pt-2" id="messages-block">
                    {% include 'includes/messages.html' %}
                </div>

            </div>
        </div>
        {% get_product_reviews product as reviews %}
        <div class="row px-xl-5">
            <div class="col">
                <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                    <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">Description</a>
                    <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-2">Information</a>
                    <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-3">Reviews ({{ reviews|length }})</a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <h4 class="mb-3">Product Description</h4>
                        <p> {{ product.long_description }}</p>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-2">
                        <h4 class="mb-3">Additional Information</h4>
                        <p>{{ product.additional_information }}</p>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-3">
                        <div class="row">
                            <div class="col-md-6">

                                <h4 class="mb-4">{{ reviews|length }} review for "{{ product.name }}"</h4>
                                {% if reviews %}
                                    {% for review in reviews %}
                                        <div class="media mb-4">
                                            <div class="m-4"
                                                 style="width: 200px; height: 200px; overflow: hidden; display: flex; justify-content: center;border-radius: 25%;">
                                                <img src="{{ review.user.image.url }}" alt="UserImage" class="img-fluid"
                                                     style="max-height: 100%; max-width: 100%; object-fit: cover;">
                                            </div>
                                            <div class="media-body m-4" style="font-size: 18px;">
                                                <h6>{{ review.user.username }}<small> -
                                                    <i>{{ review.date }}</i></small>
                                                </h6>
                                                <div class="text-primary mb-2">
                                                    {{ review.rating|stars|safe }}
                                                </div>
                                                <p>{{ review.description }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                <h4 class="mb-4">Leave a review</h4>
                                <small>Please, evaluate the product honestly:)</small>
                                <p></p>
                                <form method="POST" id="review-form">
                                    {% csrf_token %}
                                    {% for f in form %}
                                        <div class="form-group">
                                            {{ f.label }}
                                            {{ f }}
                                        </div>
                                    {% endfor %}
                                    {% include 'includes/errors.html' %}
                                    {% include 'includes/messages.html' %}
                                    <div class="form-group mb-0">
                                        <input type="submit" value="Leave Your Review" class="btn btn-primary px-3">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->
    {% if products %}
        {% include 'products/includes/topic_products.html' with title='You may also like' count=3 %}
    {% endif %}


{% endblock %}

{% block scripts %}
    <script src={% static "js/sizes_ajax.js" %}></script>
    <script src={% static "js/add_product_to_cart.js" %}></script>
{% endblock %}