{% extends 'base.html' %}
{% load static %}
{% load shop_simple_tags %}
{% load product_simple_tags %}

{% block title %}
    <title>Cute&Classy - Main Page</title>
{% endblock %}'

{% block carousel %}
    {% include 'shop/includes/carousel.html' %}
{% endblock %}

{% block navbar %}
    <div class="container-fluid mb-5">
{% endblock %}

{% block navbar_position %}
    <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0"
         id="navbar-vertical">
{% endblock %}

{% block content %}

    <!-- Featured Start -->
    {% include 'shop/includes/features.html' %}
    <!-- Featured End -->

    <!-- Categories Start -->
    {% include 'products/includes/categories.html' %}
    <!-- Categories End -->

    {% include 'products/includes/products.html' with title='Trandy products' %}

    <!-- Subscribe Start -->
    <div class="container-fluid bg-secondary my-5">
        <div class="row justify-content-md-center py-5 px-xl-5">
            <div class="col-md-6 col-12 py-5">
                <div class="text-center mb-2 pb-2">
                    <h2 class="section-title px-5 mb-3"><span class="bg-secondary px-2">Stay Updated</span></h2>
                    <p>Amet lorem at rebum amet dolores. Elitr lorem dolor sed amet diam labore at justo ipsum eirmod
                        duo
                        labore labore.</p>
                </div>
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control border-white p-4" placeholder="Email Goes Here">
                        <div class="input-group-append">
                            <button class="btn btn-primary px-4">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Subscribe End -->

    {% include 'products/includes/products.html' with title='Just arrived' %}

    <!-- Vendor Start -->
    {% include 'shop/includes/vendors.html' %}
    <!-- Vendor End -->
{% endblock %}