{% extends 'base.html' %}
{% load static %}
{% load shop_simple_tags %}
{% load product_simple_tags %}

{% block title %}
    <title>Cute&Classy - Main Page</title>
{% endblock %}'

{% block carousel %}
    {% include 'shop/includes/carousel.html' %}
{% endblock %}

{% block navbar %}
    <div class="container-fluid mb-5">
{% endblock %}

{% block navbar_position %}
    <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0"
         id="navbar-vertical">
{% endblock %}

{% block content %}

    <!-- Featured Start -->
    {% include 'shop/includes/features.html' %}
    <!-- Featured End -->

    <!-- Categories Start -->
    {% include 'products/includes/categories.html' %}
    <!-- Categories End -->

    {% if trendy_products %}
        {% include 'products/includes/topic_products.html' with title='Trandy Products' products=trendy_products %}
    {% endif %}

    {% if just_arrived_products %}
        {% include 'products/includes/topic_products.html' with title='Just Arrived' products=just_arrived_products %}
    {% endif %}

    <!-- Vendor Start -->
    {% include 'shop/includes/vendors.html' %}
    <!-- Vendor End -->
{% endblock %}